<% if (!user) { %>
	<div class="hero-unit">
		<h1>欢迎来到MicroBlog</h1>
		<p>MicroBlog是一个基于Node.js的博客系统</p>
		<p>
			<a class="btn btn-primary btn-large" href="/login">登录</a>
			<a class="btn btn-large" href="/reg">立即注册</a>
		</p>
	</div>
<% } else { %>
<%- partial('say') %>
<% } %>
<div class="row">
	<div class="span4">
		<h2>Carbo 说</h2>
		<p>东风破早梅 向暖一枝开 冰雪无人见 春从天上来</p>
	</div>
	<div class="span4">
		<h2>Tony 说</h2>
		<p>AdsDeliver是一个基于LBS的广告投放平台，
		通过该平台，广告商可以定点投放广告，同时基于
		Android的移动SDK使得更多的移动App可以内嵌我们
		的广告，我们也创造了全新的广告收费模式，相信
		会为你带来更多的惊喜！</p>
	</div>
	<div class="span4">
		<h2>Ado 说</h2>
		<p>WeTongji是同济大学官方的移动校园生活平台，
		由同济大学软件学院的若干同学负责研发，从上架
		到现在，WeTongji已经被下载5000多次，我们相信
		WeTongji的明天会更加美好！</p>
	</div>
</div>

